<div class="full-container">
    <div class="row w-100 h-100">
      <!-- Contenedor de texto a la izquierda -->
      <div class="col-md-6 text-container">
        <h3 class="typing-effect">Sobre mí</h3>
        <h2>Ciberseguridad</h2>
        <p>
          Hackthebox<br>
          Licenciatura en Ciberseguridad en FCFM UANL como especialista en ciberseguridad protege sistemas y redes de amenazas cibernéticas. Se encarga de implementar medidas de seguridad, monitorear redes, realizar pruebas de penetración y responder a incidentes para asegurar la integridad y confidencialidad de los datos.
        </p>
        <h2>Frontend Developer</h2>
        <p>
          Practicas<br>
          Colabora con un equipo dinámico para desarrollar interfaces de usuario atractivas y funcionales que impulsen el éxito de nuestros clientes en el mundo digital.
        </p>
        <a class="container col-11 btn btn-secondary" href="https://drive.google.com/uc?export=download&id=1i66yW9qxEmj2RGFC2woloZJ2A2NHhpDI" target="_blank">Descargar CV</a>


      </div>
  
      <!-- Contenedor de imagen a la derecha -->
      <div class="col-md-6 image-container">
        <!-- Círculo naranja de fondo -->
        <div class="circle"></div>
        <img src="https://png.pngtree.com/png-clipart/20231016/original/pngtree-professional-web-developer-3d-illustration-png-image_13322705.png" alt="Imagen" class="img-fluid">
      </div>
    </div>
  </div>
  