<div class="container marketing">
  <div *ngFor="let achievement of achievements" class="row featurette">
    <hr class="featurette-divider">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        {{ achievement.title }} <span class="text-body-secondary">{{ achievement.nombre }}</span>
      </h2>
      <p class="lead">{{ achievement.description }}</p>
      <a [href]="achievement.linkCertificado" target="_blank" class="btn btn-primary">Ver Certificado</a>
    </div>
    <div class="col-md-5">
      <img 
        [src]="achievement.img" 
        alt="{{ achievement.title }}" 
        class="featurette-image img-fluid mx-auto" 
        width="200" 
        height="250">
    </div>
    <hr class="featurette-divider">
  </div>
</div>
