<div class="container-fluid px-1 py-5 mx-auto">
    <div class="container col-md-12 ">
        <div class="image-container">
            <img class="Foto-formulario" src="https://landing-8ggtrytqo-danny-developer2s-projects.vercel.app/_next/image/?url=%2Fservices.png&w=828&q=75" alt="Foto-Formulario">
        </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
        <h3>Request a Demo</h3>
        <p class="blue-text">Just answer a few questions<br> so that we can personalize the right experience for you.</p>
        <div class="card">
          <h5 class="text-center mb-4">Powering world-class companies</h5>
          <form [formGroup]="contactoForm" (ngSubmit)="onSubmit()">
            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3" for="nombre">Nombre <span class="text-danger">*</span></label>
                <input type="text" id="nombre" formControlName="nombre" class="form-control" placeholder="Enter your first name">
              </div>
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3" for="apellido">Apellido  <span class="text-danger">*</span></label>
                <input type="text" id="apellido" formControlName="apellido" class="form-control" placeholder="Enter your last name">
              </div>
            </div>
            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3" for="emailAddress">Email  <span class="text-danger">*</span></label>
                <input type="email" id="emailAddress" formControlName="emailAddress" class="form-control" placeholder="Enter your email">
              </div>
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3" for="numeroTelefono">Numero Telefono <span class="text-danger">*</span></label>
                <input type="tel" id="numeroTelefono" formControlName="numeroTelefono" class="form-control" placeholder="Enter your phone number">
              </div>
            </div>
            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3" for="subject">Subjet <span class="text-danger">*</span></label>
                <input type="text" id="subject" formControlName="subject" class="form-control" placeholder="Enter your job title">
              </div>
            </div>
            <div class="row justify-content-between text-left">
              <div class="form-group col-12 flex-column d-flex">
                <label class="form-control-label px-3" for="mensaje">Mensaje <span class="text-danger">*</span></label>
                <input type="text" id="mensaje" formControlName="mensaje" class="form-control" placeholder="Enter your answer">
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="flex-column d-flex form-group col-sm-6">
                <button type="submit" [disabled]="contactoForm.invalid" class="btn btn-primary btn-block">Request a demo</button>
                <button class="btn btn-danger btn-block" (click)="resetForm()">Reset Formulario</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  